body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: #F8F8FF;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.container {
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.hidden {
  display: none;
}

.form {
  position: relative;
  width: 700px;
  background-color: white;
  border: 1px solid #EDE7E7 ;
  padding: 0px;
  margin: 0px;
}

.form input::-webkit-input-placeholder {
  font-weight: 100;
  font-style: italic;
  color: #c5c1c1;
}

.form input:hover[type="text"] {
  border: 1px solid rgb(189, 187, 187);
}

.title {
  position: absolute;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(168, 44, 44, 0.15);
  top: -150px;
}
  
.add-form-input {
  position: relative;
  width: 100%;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  margin: 0;
  padding: 16px 16px 16px 60px;
  color: gray;
  font-family: inherit;
  font-weight: inherit;
  font-size: 25px;
  line-height: 1.5em;
  border: none;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.003);
}

.todo-ul {
   border-top: 1px solid #e6e6e6;
}

.todo-list-input {
  position: absolute;
  border: none;
  opacity: 0; /*чекбокс*/
  bottom: 100%;
  right: 100%;
}

.todo-list-input + label {
  position: absolute;
  width: 60px;
  height: 35px;
  font-size: 0;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #c5c1c1;
  color: #c5c1c1;
}

.todo-list li:last-child {
   border-bottom: none;
}

.todo-list li label {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}



